body {
    background-color: rgb(239, 239, 239);
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.slider {
    max-width: 500px;
    height: auto;
    overflow: hidden;
}

.slider-content {
    width: 500%;
    display: flex;
}

/* .slider-content .slide {
    width: 25%;
} */

.slide img{
    /* width: 80%; */
    height: auto;
}

.slider input{
    display: none;
    /* visibility: hidden; */
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.controls {
    display: flex;
    align-items: center;
}

.bullet {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color:cadetblue;
    cursor: pointer;
    margin: 0 3px;
}

.bullet:hover {
    background-color:white;
    opacity: 1;
    transform: scale(1.2);
    transition:all 0.3s;
}

#slide1:checked ~ .slider-content{
    margin-left: 0%;
    transition:all 0.5s;
}

#slide2:checked ~ .slider-content{
    margin-left: -100%;
    transition:all 0.5s;
}

#slide1:checked ~ .about .description .slide1-description, 
#slide2:checked ~ .about .description .slide2-description,
#slide3:checked ~ .about .description .slide3-description,
#slide4:checked ~ .about .description .slide4-description{
    display: inline-block;
    opacity: 1;
    transition:all 0.5s;
}

#slide1:checked ~ .about .bullet1,
#slide2:checked ~ .about .bullet2,
#slide3:checked ~ .about .bullet3,
#slide4:checked ~ .about .bullet4{
    border: 2px solid cadetblue;
    box-sizing: border-box;
    background-color: transparent;
}

#slide1:checked:hover ~ .about .bullet1,
#slide2:checked:hover ~ .about .bullet2,
#slide3:checked:hover ~ .about .bullet3,
#slide4:checked:hover ~ .about .bullet4{
    border: 2px solid white;
}

#slide3:checked ~ .slider-content{
    margin-left: -200%;
    transition:all 0.5s;
}

#slide4:checked ~ .slider-content{
    margin-left: -300%;
    transition:all 0.5s;
}

.slide1-description, .slide2-description, .slide3-description, .slide4-description{
    display: none;
    opacity: 0;
}

@media (max-width: 767.9px) {
    .about {
        flex-direction: column;
    }

    .controls {
        justify-content: center;
        order: 0;
    }

    .description {
        order: 1;
    }

    .controls {
        margin-bottom: 15px;
    }
}

/* .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400%;
    height: 100%;
}

.slider-content {
    display: flex;
}

.slide {
    display: flex;
    width: 25%;    
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}


.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.controls {
    display: flex;
    align-items: center;
}

.bullet {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.bullet-rest {
    background-color:cadetblue;
}

.bullet-hover {
    background-color:white;
}

.bullet-active {
    border: 2px solid cadetblue;
    box-sizing: border-box;
}

.bullet-active-hover {
    border: 2px solid white;
    box-sizing: border-box;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.smooth-animation {
    opacity: 0;
    animation: smooth 0.5s forwards;
}

@media (max-width: 767.9px) {

    .about {
        flex-direction: column;
    }

    .controls {
        justify-content: center;
        order: 0;
    }

    .description {
        order: 1;
    }

    .controls {
        margin-bottom: 15px;
    }


} */